.story{
     display:flex;
     flex-direction:column;
     align-items:center;
     padding: 14px 10px 14px 10px;
   
}
#sava{
    position: static;
    height: 59px;
    width:  59px;
    margin-bottom:2px; 
    border: solid rgba(255, 0, 0, 0.452);
}
.story>h5{
    margin: 0;
    font-size:12px;
    font-weight: 490;

}